@using Umbraco.Web.Models
@inherits UmbracoViewPage
@{
    // Model.Content is the current page that we're on
    // AncestorsOrSelf is all of the ancestors this page has in the tree
    // (1) means: go up to level 1 and stop looking for more ancestors when you get there
    // First() gets the first ancestor found (the home page, on level 1)
}
@{
    var featuredPages = Model.AncestorOrSelf(1).Descendants("product").ToList();
}
<!-- Features -->
<section class="is-features">
    <h2 class="major"><span>Wonderful featured pages</span></h2>
    <div>

        <div class="row">
            <h2>Image (f.e. for facebook etc): max width and height</h2>
            @foreach (var feature in featuredPages)
            {
                if (feature.HasValue("photos"))
                {
                    var featureImage = feature.Value<IPublishedContent>("photos");

                    <div class="3u">
                        <section class="is-feature">

                            <a href="@feature.Url" class="image image-full">
                                <img src="@Url.GetFixedCropUrl(featureImage,320,320)" class="lazyload" />
                            </a>

                            <h3>
                                <a href="@feature.Url">@feature.Name</a>
                            </h3>
                        </section>
                    </div>
                }
            }
        </div>
        <div class="row">
            <h2>Image (f.e. for facebook etc): padded, fixed height</h2>
            @foreach (var feature in featuredPages)
            {
                if (feature.HasValue("photos"))
                {
                    var featureImage = feature.Value<IPublishedContent>("photos");

                    <div class="3u">
                        <section class="is-feature">

                            <a href="@feature.Url" class="image image-full">
                                <img src="@Url.GetFixedCropUrl(featureImage,320,320,options:new Dictionary<string, string>(){{"bgcolor","ffffff"}},cropmode:ImageCropMode.Pad)" class="lazyload" />
                            </a>

                            <h3>
                                <a href="@feature.Url">@feature.Name</a>
                            </h3>
                        </section>
                    </div>}
            }
        </div>
        <div class="row">
            <h2>Image Source Set from youtube url</h2>

            <div class="3u">
                <section class="is-feature">

                    <a href="/" class="image image-full">
                        <img data-srcset="@Url.GetSrcSetUrlsFromUrl("https://img.youtube.com/vi/clUWEXPOnpo/hqdefault.jpg",200,200,null, cropmode:ImageCropMode.Pad)" data-src="@Url.GetFixedCropUrlFromUrl("https://img.youtube.com/vi/clUWEXPOnpo/hqdefault.jpg",200,200,null,cropmode:ImageCropMode.Pad)" data-sizes="auto" class="lazyload" />
                    </a>

                    <h3>
                        Youtube item
                    </h3>
                </section>
            </div>
            <div style="height: 400px;">
                <section class="is-feature">

                    <a href="/" class="image image-full">
                        <img data-srcset="@Url.GetSrcSetUrlsFromUrl("https://img.youtube.com/vi/clUWEXPOnpo/hqdefault.jpg",200,200,null, cropmode:ImageCropMode.Pad)" data-src="@Url.GetFixedCropUrlFromUrl("https://img.youtube.com/vi/clUWEXPOnpo/hqdefault.jpg",200,200,null,cropmode:ImageCropMode.Pad)" data-sizes="auto" class="lazyload" />
                    </a>

                    <h3>
                        Youtube item
                    </h3>
                </section>
            </div>
        </div>
        <div class="row">
            <h2>Using Image Source Set from focal point</h2>

            @foreach (var feature in featuredPages)
            {
                if (feature.HasValue("photos"))
                {
                    var featureImage = feature.Value<IPublishedContent>("photos");
                    <div class="3u">
                        <section class="is-feature">
                            <a href="@feature.Url" class="image image-full">
                                <img data-srcset="@Url.GetSrcSetUrls(featureImage, 320, 180)" data-src="@Url.GetCropUrl(featureImage, "umbracoFile")" data-sizes="auto" class="lazyload" />
                            </a>
                            <h3>
                                <a href="@feature.Url">@feature.Name</a>
                            </h3>
                        </section>
                    </div>
                }
            }

        </div>

        @* <div class="row">
                <h2>Using Image Source Set with picture element and WebP ImageProcessor Plugin</h2>
                @foreach (var feature in featuredPages)
                {
                    var featureImage = feature.Value<IPublishedContent>("image"));
                    <div class="3u">
                        <!-- Feature -->
                        <section class="is-feature">

                            <picture>
                                <!--[if IE 9]><video style="display: none"><![endif]-->
                                <source data-srcset="@Url.GetSrcSetUrls(featureImage, 270, 161)" type="image/jpeg" data-sizes="auto"/>
                                <!--[if IE 9]></video><![endif]-->
                                <img
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    data-src="@Url.GetCropUrl(featureImage, 270, 161)"
                                    class="lazyload"
                                    alt="image with artdirection"
                                    data-sizes="auto"/>
                            </picture>
                        </section>
                    </div>
                }
            </div>*@
        @*
            <div class="row">
                <h2>Using Image Source Set with picture element, WebP ImageProcessor Plugin and LQIP using Razor Helper</h2>
                @foreach (var feature in featuredPages)
                {
                    var featureImage = feature.Value<IPublishedContent>("image"));
                    <div class="3u">
                        <!-- Feature -->
                        <section class="is-feature">
                            @SlimsyHelper.RenderPicture(Url, featureImage, 270, 161)
                        </section>
                    </div>
                }
            </div>*@

        <div class="row">

            <h2>Using Image Source Set with Aspect Ratio</h2>

            @foreach (var feature in featuredPages)
            {
                var ratio = new AspectRatio(16, 9);
                if (feature.HasValue("photos"))
                {
                    var featureImage = feature.Value<IPublishedContent>("photos");
                    <div class="3u">
                        <section class="is-feature">

                            <a href="@feature.Url" class="image image-full">
                                <img data-srcset="@Url.GetSrcSetUrls(featureImage,400,400)" data-src="@Url.GetCropUrl(featureImage, 270, 161)" data-sizes="auto" class="lazyload" />
                            </a>
                            <h3>
                                <a href="@feature.Url">@feature.Name</a>
                            </h3>
                        </section>
                    </div>
                }
            }

        </div>

        @*   <div class="row">

                <h2>Using Image Source Set with LQIP</h2>

                @foreach (var feature in featuredPages)
                {
                    var featureImage = feature.Value<IPublishedContent>("image"));
                    <div class="3u">
                        <!-- Feature -->
                        <section class="is-feature">
                            <img src="@Url.GetCropUrl(featureImage, 270, 161, quality:30, furtherOptions:"&format=auto")" data-srcset="@Url.GetSrcSetUrls(featureImage, 270, 161)" data-src="@Url.GetCropUrl(featureImage, 270, 161)" data-sizes="auto" class="lazyload" alt="something really long"/>
                        </section>
                    </div>
                }
            </div>
        *@
        <div class="row">

            <h2>Using Image Source Set with flexible heights</h2>

            @foreach (var featureGroup in featuredPages.Where(x => x.HasValue("photos")).InGroupsOf(4))
            {
                <div class="row">
                    @foreach (var feature in featureGroup)
                    {
                        
                            var featureImage = feature.Value<IPublishedContent>
                                ("photos");
                            <div class="3u">
                                <!-- Feature -->
                                <section class="is-feature">
                                    <img src="@Url.GetCropUrl(featureImage, 270, 0)" data-srcset="@Url.GetSrcSetUrls(featureImage, 270, 0)" data-src="@Url.GetCropUrl(featureImage, 270, 0)" data-sizes="auto" class="lazyload" alt="something really long" />
                                </section>
                            </div>
                        }
                    
                </div>
            }
        </div>

    </div>
</section>
<!-- /Features -->